.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

.board {
  width: 500px;
  height: 500px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  border: 1px solid white;
}

.square {
  flex: 33%;
  height: 100%;
  border: 1px solid white;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 30px;
  color: white;
}

.result {
  color: red;
  height: 300px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  rotate: 340deg;
  position: absolute;
  font-size: 55px;
}

.restart {
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px;
}

button {
  width: 150px;
  height: 40px;
  background-color: lightseagreen;
  border: none;
  border-radius: 5px;
  color: white;
}
